Vagrant.configure("2") do |config|

    # Auto install required Vagrant plugins
    config.vagrant.plugins = ["vagrant-disksize", "vagrant-vbguest"]

    # Get your local SSH public key
    PUBLIC_KEY = File.read("{{platform.ssh_pubkey | d('#{Dir.home}/.ssh/id_rsa.pub') }}")

    # Precompile '.vdi' to improve performances
    config.vm.provider "virtualbox" do |vb|
    vb.linked_clone = true
    end

    {% for server in platform.servers %}
    config.vm.define "{{ server.hostname }}" do |server|

        # System configuration and network
        server.vm.hostname = "{{ server.hostname }}"
        {% set default_ip = ['192.168.50.1', loop.index | string ] | join('') %}
        server.vm.network "private_network", ip: "{{ server.ip | d(default_ip) }}"
        server.vm.box = "{{ server.box | d(platform.box) }}"
        server.vm.box_check_update = false
        server.vm.provider :virtualbox do |v|
          v.name = "{{server.hostname}}"
          v.gui = false
          v.memory = {{ server.memory | d(platform.memory | d(4096)) }}
          v.cpus = {{ server.vcpu | d(platform.vcpu | d(1)) }}
        end

        # Provisionning
        ## Network
        {% for server in platform.servers %}
        server.vm.provision "shell", inline: "echo '192.168.50.1{{ loop.index }} {{ server.hostname }}' >> /etc/hosts"
        {% endfor %}
        ## Fix date time
        server.vm.provision :shell, :inline => "sudo rm /etc/localtime && sudo ln -s /usr/share/zoneinfo/{{server.timezone | d(platform.timezone | d('Europe/Paris')) }} /etc/localtime", run: "always"
        ## Authorize vagrant user's SSH key
        server.vm.provision "shell", inline: <<-EOF
        echo 'export LC_ALL=C' >> ~/.bashrc
        mkdir -p /home/{{ server.user | d(platform.user | d('vagrant')) }}/.ssh
        echo '#{PUBLIC_KEY}' >> /home/{{ server.user | d(platform.user | d('vagrant')) }}/.ssh/authorized_keys
        EOF

        {% if not ( server.selinux | d(platform.selinux | d(true)) ) %}
        # Disabling SElinux
        server.vm.provision "shell", inline: "sudo sed -i 's/SELINUX=.*/SELINUX=disabled/' /etc/selinux/config"
        server.vm.provision "shell", inline: "sudo setenforce 0"
        # Disabling firewalld
        server.vm.provision "shell", inline: "sudo systemctl stop firewalld"
        server.vm.provision "shell", inline: "sudo systemctl disable firewalld"
        server.vm.provision "shell", inline: "sudo systemctl mask --now firewalld"
        {% endif %}

        # Synced folder using vbguest
        #server.vm.synced_folder '.', '/vagrant', disabled: true
        #server.vm.synced_folder '/tmp/archive-log/storage', '/tmp/archive-logs/storage', create: true

    end

  {% endfor %}
end
